.jqTimepsaceContainer {
	--shadow: #c4c4c4;
	--border-primary: #002D72;
	--border-secondary: #002D72;
	--border-dull: #b4b4b4;
	--border-select: #ac0000;
	--border-transparent: rgba(255, 255, 255, 0);
	--bg-gradient: linear-gradient(to top, #444444 0%, #afafaf 15%, #ffffff 100%);
	--bg-primary: #c4c4c4;
	--bg-secondary: #eb6c6b;
	--bg-dull: #ffffff;
	--bg-dull-transparent: rgba(255, 255, 255, 0.45);
	--bg-disabled: #eeeeee;
	--bg-error: #ffeae1;
	--text-error: #ac0000;
	--text-primary: #000000;
	--text-secondary: #573e29;
	--text-time: #D50032;
	--text-nav: #D50032;;
}
